@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Lato:ital,wght@0,300;1,300&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Lato;
  }

  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
 
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../images/allthree.png);
    background-size: cover;
   
  }
  
  body.correct {
    --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }
  
  #header-container {
    display: flex;
    justify-content: center;
  }
  .container {
    height: 600px;
    width: 1300px;
    max-width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  .intro {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color:white;
    outline: none;
    font-size: 1rem;
    
  }
  
  .btn:hover {
    border-color: black;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }

  /* Footer */
  #social-media {
    display: flex;
    justify-content: center;
  }
  #social-media li {
    display: inline;
}
#social-media i {
  color:  #352165;;
  font-size: 180%;
  margin: 1% 1%;
  padding: 5%  5% 5% 5%;
}
.copyright {
  display: flex;
  justify-content: center;
}



 